{% extends 'base.html' %}

{% block title %}Meus Empréstimos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Meus Empréstimos</h2>
    <a href="{% url 'emprestimo_create' %}" class="btn btn-primary mb-3">Novo Empréstimo</a>
    <ul class="list-group">
        {% for e in emprestimos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ e.jogo.titulo }} para {{ e.amigo.username }} em {{ e.data_emprestimo }}
                {% if e.data_devolucao %} - Devolvido em {{ e.data_devolucao }}{% endif %}
                <div>
                    <a href="{% url 'emprestimo_update' e.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'emprestimo_delete' e.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}