{% extends 'base.html' %}

{% block title %}Excluir Empréstimo{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Excluir Empréstimo</h2>
    <p>Tem certeza que deseja excluir o empréstimo de {{ emprestimo.jogo }} para {{ emprestimo.amigo }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar</button>
    </form>
    <a href="{% url 'emprestimo_list' %}" class="btn btn-secondary">Cancelar</a>
</div>
{% endblock %}