{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Editar Jogo{% else %}Novo Jogo{% endif %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{{ form.instance.pk|yesno:"Editar Jogo,Novo Jogo" }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
    <a href="{% url 'jogo_list' %}" class="btn btn-secondary">Voltar</a>
</div>
{% endblock %}